@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Oswald|Raleway');
@import "./mixin.scss";

//COLORS
$bg-color: rgb(255, 255, 255);
$font-color: rgb(43, 43, 43);
$citation-color: rgb(110, 110, 110);
$grey: rgb(43, 43, 43);
$yellow: rgb(255, 182, 48);
$blue: rgb(12, 70, 101);
$green: rgb(58, 130, 14);
$red: rgb(166, 8, 0);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 25%;
    top: 0;
    width:50%;
    height:100vh;
    z-index: 1;
    opacity: 0.05;
    background-image: url('../assets/radixlogo_copertina.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}


h1, h2{
  font-family: 'Oswald', sans-serif;
}
