@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Oswald|Raleway");
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  color: #2b2b2b;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center; }
  body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 25%;
    top: 0;
    width: 50%;
    height: 100vh;
    z-index: 1;
    opacity: 0.05;
    background-image: url("../assets/radixlogo_copertina.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; }

h1, h2 {
  font-family: 'Oswald', sans-serif; }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 0px; }

.bm-burger-bars {
  background: #2b2b2b; }

.bm-cross-button {
  height: 24px;
  width: 24px; }

.bm-cross {
  background: white; }

.bm-menu {
  background: #2b2b2b;
  padding: 2.5em 1.5em 0;
  font-size: 1.3em; }

.bm-item-list {
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: white;
  padding: 1.3em; }
  .bm-item-list a {
    color: white;
    padding: 0.8em; }
